<div class="container">
    <tabset [justified]="true" style="margin-top:100px;margin-left:20px;">
        <tab heading="Account">
            <accordion [closeOthers]="oneAtATime" style="margin-top:20px;">
                <accordion-group heading="Account Information">
                  <div class="form-group">
                    <div></div>
                  </div>
                </accordion-group>
                <accordion-group heading="Account Address">
                  <p>Content 1</p>
                </accordion-group>
                <accordion-group heading="Account Contact Information">
                  <p>Content 2</p>
                </accordion-group>
              </accordion>
          </tab>
        <tab heading="Policy Info">Short Labeled Justified content</tab>
        <tab heading="Policy COV">Long Labeled Justified content</tab>
        <tab heading="Building Info">Justified content</tab>
        <tab heading="Building COV">Short Labeled Justified content</tab>
        <tab heading="Location Info">Long Labeled Justified content</tab>
        <tab heading="Location COV">Justified content</tab>
        <tab heading="Risk Summary">Short Labeled Justified content</tab>
        <tab heading="Premium Summary">Long Labeled Justified content</tab>
      </tabset>
</div>
