@import '../../assets/styles/variables';
.navbar {
    background-color: $white;
    border-radius: 0px;
    box-shadow: 1px 2px 5px $shadow-color1;
    border: 0;
    border-top: 4px solid $dark-blue;
    .navbar-brand {
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            height: 30px;
        }
    }
    .icon-menuitem {
        a {
            padding-left: 15px;
            i {
                color: $dark-blue;
                font-size: 20px;
                position: absolute;
            }
        }
    }
}